<launch>
    <!-- 주행 모드 파라미터 (fast 또는 safe) -->
    <arg name="version" default="safe"/>
    <arg name="direction" default="left"/>

    <!-- LANE 기반 주행  이진화-->
    <!-- <include file="$(find lane_detection)/launch/lane_detection_binarization.launch">
        <arg name="version" value="$(arg version)"/>
    </include> -->

    <!-- LANE 기반 주행  hsv-->
    <include file="$(find lane_detection)/launch/lane_detection_hsv.launch">
        <arg name="version" value="$(arg version)"/>
    </include>

    <!-- STATIC 주행 로직 진행 -->
    <!-- <include file="$(find obstacle_detector)/launch/static_obstacle.launch">
        <arg name="version" value="$(arg version)"/>
        <arg name="direction" value="$(arg direction)"/>
    </include> -->

    <!-- DYNAMIC 주행 로직 진행
    <include file="$(find obstacle_detector)/launch/dynamic_obstacle.launch">
        <arg name="version" value="$(arg version)"/>
    </include> -->

    <!-- RUBBERCONE 주행 로직 진행 -->
    <include file="$(find obstacle_detector)/launch/rubbercone_drive.launch">
        <arg name="version" value="$(arg version)"/>
    </include>

    <!-- Sign 기반 주행  -->
    <include file="$(find sign_slowdown)/launch/sign_slowdown.launch">
        <arg name="version" value="$(arg version)"/>
    </include>

    <!-- 원형교차로 기반 주행  -->
    <include file="$(find obstacle_detector)/launch/roundabout_drive.launch">
        <arg name="version" value="$(arg version)"/>
    </include>


    <!-- tunnel 기반 주행  -->
    <include file="$(find obstacle_detector)/launch/tunnel_drive.launch">
        <arg name="version" value="$(arg version)"/>
    </include>

    <!-- 차단기 기반 주행  -->
    <include file="$(find obstacle_detector)/launch/gwang_crossing_gate.launch">
        <arg name="version" value="$(arg version)"/>
    </include>

    <!-- main planner 주행  -->
    <node name="main_planner" type="main_planner.py" pkg="car_planner" output="screen">
        <param name="version" value="$(arg version)"/>
    </node>

    <include file="$(find obstacle_detector)/launch/parking_paralle.launch">
        <arg name="version" value="$(arg version)"/>
    </include>

    <include file="$(find racecar)/launch/teleop.launch"/> 
    <!-- 장애물 탐지 관련 -->
    <include file="$(find obstacle_detector)/launch/nodelets.launch"/>

    <!-- <include file="$(find aruco_detect)/launch/aruco_detect.launch"/> -->

    <include file="$(find sensor_manager)/launch/sensor_process.launch" />


    <!-- RViz 설정 -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find rplidar_ros)/rviz/rplidar.rviz"/>
</launch>
