<launch>
    <!-- IMU 기반 heading 계산기 -->
    <include file="$(find heading)/launch/imu_heading.launch"/>

    <!-- 라바콘 오랜지 인지 코드 -->
    <include file="$(find cv_detect)/launch/rubbercone_orange_detection.launch" />

    <!-- 정적장애물 Clustering -->
    <include file="$(find obstacle_detector)/launch/obstacle_detector_static.launch"/>

    <!-- 라바콘 Clustering -->
    <include file="$(find obstacle_detector)/launch/obstacle_detector_rubbercone.launch"/>
</launch>